
body{	font-family: 'Livvic', sans-serif;	font-weight: 400;padding: 0px;margin: 0px; line-height: 1.5; font-size: 1.0rem; color: #666; position: relative;     
}
h1{ font-weight: 800;}
h2{ font-weight: 500;}
h3{ font-weight: 500;}
h4{ font-weight: 300;}
h5{ font-weight: 300;}
img, img:hover,img:focus{outline: none;}
a,a:hover{text-decoration: none;}
.clear{clear: both;}
$main_color : #ee3d3d;


%listing{list-style: none;margin: 0px; padding: 0px;}
%sitebtn{background:$main_color; color:#fff; font-size: 18px;width: 300px; height: 56px; display: block;font-weight: 500; line-height: 55px; text-align: center;margin: 26px 0 0 0;
&:hover{color: #fff;}
}
.main-wrapper{overflow: hidden; width: 100%; height: 100%;}
header{position: absolute; top: 0px; min-height:110px; width: 100%;padding: 0px 0 0px;    z-index: 10;
  & .head-left{ padding-top:30px; padding-bottom: 10px;
  }
	& .head-right{padding: 30px 0 0px; 
		& .navbar{
			ul{margin: 0px;padding: 0 0 0 120px; display: flex;flex-direction: row; 
			
			& li{display: inline-block; margin-right:35px; color: #fff;
				& a{color: #fff; text-transform: capitalize; font-size: 16px;font-weight: 500;}
                &:hover a{border-bottom:1px solid $main_color; position: relative; }
                &:hover a::after{content:" "; background:$main_color; display: block; position: absolute; width: 5px; height: 5px; border-radius: 25px; right: -11px; top: 10px; }	
			}
			& li:last-child{margin-right: 0px;}
		}
		} 
	
	}
}
.headingwrap{margin: 0 0 20px 0; 
    & h2{font-size: 50px; color: $main_color; text-transform: capitalize; margin: 0 0 15px 0;padding: 0 0 0 95px; font-weight: 700;
    &::before{content:""; display: block; width: 100px; height:3.2px; background: $main_color;left: 0px;
        top: 34px;
        position: absolute;}
    }
}
.btnwrap{background:$main_color; color:#fff; font-size: 18px;width: 300px; height: 56px; display: block;font-weight: 500; line-height: 55px; text-align: center;margin: 26px 0 0 0;
&:hover{color: #fff;}
}
.fold1{width: 100%;height:auto; position: relative;  
& .slides-container{min-height: 700px; width: 100%; 
& .slide-con{width: 100%; position: relative;min-height: 700px;
& .slides{height:inherit; min-height: 700px;
& .slider-text-con{min-height: 500px; vertical-align: middle; width: 100%;}
& .slide-caption{ color: #fff;position: absolute; top: 40%; 
    & h1{font-size: 50px; font-weight: 400; margin: 0 0 15px 0;
    & span{font-weight: 600;}
    }
    & p{font-size: 20px;}
    & a{background:$main_color; color:#fff; font-size: 18px;width: 300px; height: 56px; display: block;font-weight: 500; line-height: 50px; text-align: center;margin: 26px 0 0 0; }
}
}
}
}
    &-inner{width: 100%;height:auto; min-height: 450px; position: relative;background:url('../images/about-banner.jpg') no-repeat;
        & section{width: 100%; min-height: 300px; color: #fff; position: absolute; top: 50%; font-size: 20px;
            & h2{font-size: 50px; margin: 0 0 20px 0;font-weight: 700;}
            & p{font-size: 20px;}
        }
    }
    &-career{background:url('../images/career-banner.jpg') no-repeat;}
    &-contact{background:url('../images/contact-us-banner.jpg') no-repeat; min-height: 550px;  background-size: cover;}
}

/**
.fold2
**/
.fold2{ width: 100%; min-height: 400px; position: relative; padding: 50px 0 80px; color: #666666; 
    & h3{color:#000; font-size: 25px; margin: 0 0 15px 0;font-weight: 500;}
    & p{color: #666666; }
    &-career{padding: 80px 0; width: 100%; min-height: 500px; position: relative;
        & .selection{
            & label{display: block;font-size: 14px;}
            & select{border-bottom: 1px solid $main_color; color: #000; width:180px; border-left: none; border-right: none; border-top:none; font-weight: 500;}
        }
        & .careers_wraps{ margin: 20px 0; width: 100%; min-height: 250px; position: relative;
            &--text{
                & ul{margin: 0px; padding: 0px; list-style: none;
                    & li{ margin-bottom: 8px;
                        & h6{color:#0583bd;font-size: 20px; margin: 0px 0 1px; display: block;  }
                        & span{color:#000; font-size: 16px; display: block;}
                    }
                }
            }
        }
        & .careers_details{
            &_head{
                & h4{font-size: 30px;color:#000; margin: 0 0 2px; font-weight: 700;}
                & p{ font-size: 20px;    line-height: 20px;
                    & a{color:#0583bd;}
                    & span{font-size: 16px;}
                }
            }
            &-text{
                & h5{font-size: 20px; color:#000;font-weight: 700;}
            }
        }
    }
    &-contact{padding: 80px 0; width: 100%; min-height: 500px; position: relative;
        & .contact_wraps--text{ color:#666;
            & a, & p a{text-decoration: none; color:#666;}
            & span, & p span{color:#000; font-weight: 600;}
        }
    }
}
/**
.fold3
**/
.fold3{ width: 100%; min-height: 750px; position: relative; padding:30px 0 40px;
&-boxes{ margin: 0px 0 25px; 
    & h5{font-size: 18px; font-weight: 600; color: #000; margin: 0 0 9px;}
    & p{font-size: 13px; line-height:18px;}
}
    &-job{ padding: 50px 0px; width: 100%; min-height: 400px; position: relative;}
}

/**
.fold4
**/
.fold4{ width: 100%; min-height: 400px; position: relative; padding:30px 0 40px;
    & .awesome_wrap{
        & .imgWrap{
            & .slick-items{ min-height:180px; outline: none;
                & ul{margin: 0px; padding: 0px; list-style: none; 
                & li{display:block;border-right: 1px solid #dbd7db;
                    &:first-child{    margin-bottom: 33px;   height: 90px;
                    & img{border-bottom: 1px solid #dbd7db;     padding-bottom: 25px;}
                    }
                & img{ display: block; max-width: 100%; display: block; margin: 0px auto;}
                }
                }
            }
        }
    }
    & .carsoual-btns{
        & ul{margin: 0px; padding: 0px; list-style: none;    position: relative;
    top: 39%;
            & li{display: inline-block; cursor: pointer;}
        }
        
    }
    & .slick-dots{    position: absolute;
    right: -126px;
    top: 96px;
    width: 150px;
    bottom: 0px;
    height: 50px; 
        & li{background: #cccccc; border-radius: 27px;height: 5px; width: 5px;}
        & li.slick-active{background: #000; }
    }
}

/**
.fold5
***/
.fold5{width: 100%; min-height: 400px; padding:50px 0 50px; position: relative;
    & .pckge{ min-height: 250px; margin-bottom: 50px;
        &-heading{background: $main_color; color: #fff; font-size: 18px; text-transform: capitalize; padding:5px 0;}
        & a{@extend %sitebtn; margin: 0px auto; width: 190px; height: 37px;    line-height: 37px;}
        &-content{border-left: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;    padding:25px 0 30px;
            & h4{font-size: 32px; font-weight: 700; margin: 5px 0 10px;color:#000;}
            & figure{}
            & p{line-height:20px;font-size: 13px;}
            & ul{margin: 0px; padding: 0px; list-style: none; 
                & li{ font-size: 13px; position: relative; padding-left: 10px; margin-bottom: 5px;
                    &:before{content:""; display: block; height: 5px; width: 5px; background: $main_color; left: 0px; border-radius: 25px; position: absolute; top: 7px;}
                }
            }
            & .price{font-size: 30px; font-weight: 700; padding: 15px 0; display: block; color: #000; width: 100%;}
        }
        
    }
}

/**
.fold6
***/
.fold6{width:100%; min-height: 500px;position: relative; background: $main_color; padding: 80px 0 40px 0; color: #fff;
    & .testimonals-con{outline: none;}
    & .testimonals-con-text{ outline: none;
        &-detail{font-size:28px; padding-bottom: 5px; border-bottom: 1px solid #fff;line-height:28px;margin: 0 0 18px 0; position: relative;
            &:after{content:""; display: block;background: url('../images/v-icon.jpg') no-repeat; width: 21px; height: 21px; position: absolute; left: 111px; bottom: -21px;}
            & span{text-transform: uppercase; font-weight: 700;}
        }
        &-meta{ margin:50px 0 0 0;
            & figure{margin-right: 10px;}
        }
    }
    & .slick-dots{   
   
    bottom: -61px;
    height:30px; 
        & li{background: #fff; border-radius: 27px;height: 10px; width: 10px;}
        & li.slick-active{background: #000; }
        & button{visibility: hidden;}
    }
   }


/**
.fold7
***/
.fold7{    padding:0px 0px; min-height:400px; position: relative;
    &-right{
        background: url('../images/map.jpg') top no-repeat; background-size: cover;
    }
    &-left{
        & .headingwrap{    margin: 50px 0 20px 97px;}
    }
}    


/***
contact
***/
.contact{width:auto; min-height: 300px; padding:20px 0;    margin-left: 191px;
    position:relative;
    &-form{width: 100%; height: 100%; position: relative;padding:0px 20px;
        & input[type="text"],& input[type="email"],& input[type="tel"]{ padding:14px 14px; border: 1px solid #d9d9d9; border-radius: 2px; width: 90%; background: transparent; outline: none;    margin: 0 0 10px;
            &::placeholder{color:#000; ; }
        }
        & textarea{width: 90%;padding: 10px 12px; border: 1px solid #d9d9d9;border-radius: 2px;height: 165px; background: transparent; outline: none;
        &::placeholder{color:#000;}
           
        }
         & .cnt-btn{background: $main_color; text-transform: capitalize; color:#fff;width:170px; border:none; outline: none; border-radius: 0px; height: 52px; cursor: pointer; margin: 5px 0 10px;font-size: 20px;}
    }
   
}
/***
contact-job
***/
.contact-job{width:100%; min-height: 300px; padding:20px 0;margin-left: 100px; position:relative;
    &-form{width: 100%; height: 100%; position: relative;padding:0px 20px;
        & input[type="text"],& input[type="email"],& input[type="tel"],& input[type="file"]{ padding:14px 14px; border: 1px solid #d9d9d9; border-radius: 2px; width: 90%; background: transparent; outline: none;    margin: 0 0 8px;
            &::placeholder{color:#000; ; }
        }
        & textarea{width: 90%;padding: 10px 12px; border: 1px solid #d9d9d9;border-radius: 2px;height: 165px; background: transparent; outline: none;
        &::placeholder{color:#000;}
           
        }
         & .cnt-btn{background: $main_color; text-transform: capitalize; color:#fff;width:280px; border:none; outline: none; border-radius: 0px; height: 52px; cursor: pointer; margin: 10px 0 10px;font-size: 20px;}
    }
   
}
.our_stats{width: 100%; min-height: 400px;position: relative; padding: 80px 0;
    &_box{ width: 100%; height: auto;
        & figure{}
        & section{ text-align: center; color: #000;
            & h6{font-size: 70px; font-family: 'PT Sans', sans-serif; font-weight: 700;margin:0px; }
            & small{font-size:16px; font-family: 'PT Sans', sans-serif;font-weight: 400;text-transform: uppercase;text-shadow: 0.1px 0.1px;}
    }
}
}

/***
Footer
***/

.site-footer{ width: 100%; min-height: 300px; position: relative; padding-top: 50px;
    & .footer-menu{    padding-bottom: 20px;
        & ul{@extend %listing;
            & li{color: #000; text-transform: uppercase; margin-bottom: 10px;
                &:last-child{margin-bottom: 0px;}
                & a{color:#000; text-transform: uppercase; font-size: 16px;font-weight: 400;}
            }
        }
    }
    & .footer-btm{min-height: 50px;}
    & .social-icons{
        i{color:$main_color; margin-right: 5px;width: 20px;}
    }
}
.abt_wrap{
    width: 100%; min-height: 400px; position: relative;
    & .headingwrap{font-size: 50px; font-weight: 700; }
    &-one{
        background:url('../images/our_culture.jpg') no-repeat; height: inherit; background-size:contain; 
    } 
    &-two{
         margin-bottom: 20px;
    }
     &-three{
         padding-top: 50px;
         & section{padding:0 30px 0 0;}
    }
     &-four{
         background:url('../images/values.jpg') no-repeat; height: inherit; background-size:contain; 
    }
}
.get-touch-form{
    margin-left: 100px;
    & textarea{    height: 132px;}
    & input{margin-bottom: 25px !important;}
}
/***********Menu**********/
.button_container { position: fixed; top: 4%; right: 2.5%; height: 27px; width: 35px; cursor: pointer; z-index: 100; -webkit-transition: opacity .25s ease; transition: opacity .25s ease; display: none; }

.button_container:hover { opacity: .7; }

.button_container.active .top { -webkit-transform: translateY(10px) translateX(0) rotate(45deg); transform: translateY(10px) translateX(0) rotate(45deg); background: #FFF; }

.button_container.active .middle { opacity: 0; background: #FFF; }

.button_container.active .bottom { -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg); transform: translateY(-10px) translateX(0) rotate(-45deg); background: #FFF; }

.button_container span { background: $main_color; border: none; height: 5px; width: 100%; position: absolute; top: 0; left: 0; -webkit-transition: all .35s ease; transition: all .35s ease; cursor: pointer; }

.button_container span:nth-of-type(2) { top: 10px; }

.button_container span:nth-of-type(3) { top: 20px; }

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 1; visibility: hidden; -webkit-transition: opacity .35s,visibility .35s,width .35s; transition: opacity .35s,visibility .35s,width .35s; z-index: 50; }

.overlay:before { content: ''; background: $main_color; left: -55%; top: 0; width: 50%; height: 100%; position: absolute; -webkit-transition: left .35s ease; transition: left .35s ease; }

.overlay:after { content: ''; background: $main_color; right: -55%; top: 0; width: 50%; height: 100%; position: absolute; -webkit-transition: all .35s ease; transition: all .35s ease; }

.overlay.open { opacity: .9; visibility: visible; height: 100%; }

.overlay.open:before { left: 0; }

.overlay.open:after { right: 0; }

.overlay.open li { -webkit-animation: fadeInRight .5s ease forwards; animation: fadeInRight .5s ease forwards; -webkit-animation-delay: .35s; animation-delay: .35s; }

.overlay.open li:nth-of-type(2) { -webkit-animation-delay: .45s; animation-delay: .45s; }

.overlay.open li:nth-of-type(3) { -webkit-animation-delay: .55s; animation-delay: .55s; }

.overlay.open li:nth-of-type(4) { -webkit-animation-delay: .65s; animation-delay: .65s; }

.overlay nav { position: relative; height: 70%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 50px; font-family: inherit; text-align: center; z-index: 100; }

.overlay ul { list-style: none; padding: 0; margin: 0 auto; display: inline-block; position: relative; height: 100%; }

.overlay ul li { display: block; height: 25%; height: calc(100% / 9); min-height: 50px; position: relative; opacity: 0; }

.overlay ul li a { display: block; text-decoration: none; overflow: hidden; color: #fff; text-transform: uppercase; position: relative; display: block; font-size: 25px; font-weight: 700; padding: 10px 10px; }

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after { width: 100%; }

.overlay ul li a:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); height: 3px; background: #FFF; -webkit-transition: .35s; transition: .35s; }

@-webkit-keyframes fadeInRight { 0% { opacity: 0; left: 20%; }
  100% { opacity: 1; left: 0; } }
@keyframes fadeInRight { 0% { opacity: 0; left: 20%; }
  100% { opacity: 1; left: 0; } }
  .fold2-box a{overflow: hidden;}
  .fold2-box a img{ transform: scale(1.0); transition: 500ms ease-in-out all}
  .fold2-box a:hover img{ transform: scale(1.2); transition: 500ms ease-in-out all}

/***
Responsive
**/
@media (min-width: 100px) and (max-width: 990px) { .button_container { display: block; }
  .navbar { display: none; } 
.fold1-inner section{padding: 0 15px;}
  .fold1 .slides-container .slide-con .slides .slide-caption{    top: 130px;width: 100%; text-align: center;position: relative;
      & a{margin: 26px auto 0;}
        & h1{    font-size: 1.4rem;}
    }
    .our_products img{max-width: 100%;}
    .fold3-boxes{text-align: center;}
    .btnwrap{margin: 26px auto 0;}
    .carsoual-btns{margin: 19px auto;
        & ul{top: 0%;width: 113px;

margin: 0px auto;
            
        }
    }
}
@media (min-width:100px) and (max-width:490px){
    header{
        .head-left{
            & img{margin: auto; display: block;}
        }
    }
    .fold1-inner{min-height: 350px;
        & section{top: 80px;text-align: center;}
    }
    .fold1 .slides-container .slide-con .slides .slide-caption{    top: 130px;
        & h1{    font-size: 1.4rem;}
    }
    .fold1 .slides-container, .fold1 .slides-container .slide-con, .fold1 .slides-container .slide-con .slides{min-height: 350px;}
    .fold1 .slides-container .slide-con .slides .slider-text-con{min-height: 350px;}
    .headingwrap h2{    font-size: 2.4rem;}
    .fold7-left .headingwrap{    margin: 50px 0 20px 0px;}
    .contact{    margin-left: 0px;}
    .site-footer{text-align: center;}
    
}
@media (min-width:490px) and (max-width:990px){
     header{
        .head-left{
            & img{margin: auto; display: block;}
        }
    }
    .fold1 .slides-container .slide-con .slides .slide-caption{    top: 130px;width: 100%; text-align: center;
        & h1{    font-size: 1.4rem;}
    }
   .fold1 .slides-container, .fold1 .slides-container .slide-con, .fold1 .slides-container .slide-con .slides{min-height: 350px;}
    .fold1 .slides-container .slide-con .slides .slider-text-con{min-height: 450px;}
    .headingwrap h2{    font-size: 2.5rem;}
    .fold7-left .headingwrap{    margin: 50px 0 20px 0px;}
    .contact{    margin-left: 0px;}
    
}
@media (min-width:1024px) and (max-width:1390px){
}


